<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        style
            include ./email.css
            
    body
        h2 Reestablecer password
        p Hola, solicitaste reestablecer tu password. Haz click en el siguiente enlace. El enlace es temporal.
        a(href=`${resetUrl}`) Reestablecer contraseña
        p Si no puedes acceder, visita #{resetUrl}